<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-EGCK7MJ;Initial Catalog=Registro_CILEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.ConnectionString_Copy" connectionString="Data Source=DESKTOP-EGCK7MJ;Initial Catalog=Registro_CILEM;Integrated Security=True" />
        <add name="DAO.Properties.Settings.Valor" connectionString="Data Source=192.168.0.185,1433;Initial Catalog=Registro_CILEM;User ID=usuario_cilem;Password=Password" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
